/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 *:before,
 *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12 * 100)*/
  width: 8.333%;
}

.col-2 {
  /* (1/12 * 100)*/
  width: 16.66%;
}

.col-3 {
  /* (1/12 * 100)*/
  width: 25%;
}

.col-4 {
  /* (1/12 * 100)*/
  width: 33.333%;
}

.col-5 {
  /* (1/12 * 100)*/
  width: 41.666.333%;
}

.col-6 {
  /* (1/12 * 100)*/
  width: 49.998%;
}

.col-7 {
  /* (1/12 * 100)*/
  width: 58.333%;
}

.col-8 {
  /* (1/12 * 100)*/
  width: 66.666%;
}

.col-9 {
  /* (1/12 * 100)*/
  width: 75%;
}

.col-10 {
  /* (1/12 * 100)*/
  width: 83.333%;
}

.col-11 {
  /* (1/12 * 100)*/
  width: 91.666%;
}

.col-12 {
  /* (1/12 * 100)*/
  width: 100%;
}
