#links{
  background-color: black;
  color:white;
  padding: 10px 10px 0px 10px;;
  position: fixed;
  top:0;
  left:0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 700;
 font-size: 1.6em;
}

.menu{
 display:inline-block;
 float:left;
 margin-top:10px;
 padding:10px;
 list-style: none;
 height: 100%;
 text-align: center;
 font-size: 0.5em;
 vertical-align: middle;
}

.menu:hover{
 background-color: #18BC9C ;
}

#articleBienvenida {
    background-color: #18BC9C;
    text-align: center;
    align-items: center;
}

#h1Bienvenida {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 66px;
    color: white;
}

#h2Bienvenida {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    color: white;
}

hr.star-light:after {
    background-color: #18BC9C;
    color: white;
}

hr {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 15px auto 0px;
    color: white;
}

hr.star-light:after {
    background-color: #18BC9C;
    /* color: #fff; */
}

hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
}

transition: opacity 1s ease-out;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.1em;
    font-size: 2em;
    padding: 0 .25em;
    background: #18bc9c;
        top: -18px;
    color: white;
}


#about {
  background: #18BC9C;
  color: #fff;
}

.texto {
  font-family: Montserrat;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.textos-p {
  font-family: lato;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn-download {
  font-size: 20px;
  font-family: lato;
  border-radius: 6px;
  background: #18bc9c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
    margin: 0 auto;
}
.btn-download:hover {
  background: #fff;
  color: #18bc9c;
  transition: .3s;
 text-align: center;
}




footer {
   text-align: center;
   color: #FFF;
 }
 .contacto {
   padding: 70px;
   background-color: #2C3E50;
 }
.copy {
  background-color: #233140;
}
.txtContacto {
  margin-bottom: 30px;
}
.linkFooter {
  color: #18BC9C;
}
.iconosFooter {
  font-size: 48px;
}
